<h4>Contact List </h4>

<div class="row">
   <div class="col-md-6" style="height:300px; overflow-y: hidden">
      <div id="contact_list">
        <%=render partial: 'contacts' %>
      </div>
   </div>
</div>
<div style="margin-top: 2px;">
   <div>
   <%= button_tag '1', :class=> 'btn btn-success input-btn' %>
   <%= button_tag '2', :class=> 'btn btn-success input-btn' %>
   <%= button_tag '3', :class=> 'btn btn-success input-btn' %>
   <%= button_tag '4', :class=> 'btn btn-success input-btn' %>
   <%= button_tag '5', :class=> 'btn btn-success input-btn' %>
</div>
<div style="margin-top: 2px;">
   <%= button_tag '6', :class=> 'btn btn-success input-btn' %>
   <%= button_tag '7', :class=> 'btn btn-success input-btn' %>
   <%= button_tag '8', :class=> 'btn btn-success input-btn' %>
   <%= button_tag '9', :class=> 'btn btn-success input-btn' %>
   <%= button_tag '0', :class=> 'btn btn-success input-btn' %>
   
</div>
<div style="margin-top: 2px;"><%= link_to 'Clear', 'javascript:void(0);', :class=> 'btn  btn-success clear ' %></div>
</div>

<script type="text/javascript">
$(document).ready(function(){
   var string1 = "" ;
   var search_fun = function(){
      
      $('.input-btn').click(function(){         
         var btn_number = $(this).text();         
         string1 = string1 + btn_number;
         $.post('/contacts/search.js', {value: string1}, function(res){

         });

      });
   };


   var keyboard_fun = function() {
      $('.clear').click(function() {
        string1 = ""        ;
        $.post('/contacts/search.js', {value: ''}, function(res){

         });
      });
   };


   search_fun();
   keyboard_fun();
});


</script>