<!DOCTYPE html>
<html>
<head>
  <title>Quickchex</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'kendo.web.min.js' %>
  <%= javascript_include_tag 'kendo.mobile.scroller.min.js' %>
  <%= javascript_include_tag 'kendo.autocomplete.min.js' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
